  @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

  html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

#games {
  font-family: 'Krona One', sans-serif;
  font-size: 13.4px;
  color:#5F32C9;
}
#p{
  margin-top: 14px;
}

.Sidebar{
position: absolute;
bottom: 290px;
left: 25px;
 }
.SidebarList {
  width: 100%;
padding: 0;
height: auto;

}

.SidebarList .row{
  width: 218px;
  height: 37px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 13.54px;
  gap: 10px;
}


.row #icon{
  margin-left: 50px;
}
.row:hover{
 background-color: #141623;
}

.Sidebar #active {
  background-color: #683CCF;
}

#page{
  overflow-y: scroll;
}
#bganu {

  height: 415px;
  width: 1013px;
  border-radius: 20px;
  background-image: linear-gradient(to top,
  #844C9A 30%,
  #683CCF
  );
}
#u{
  font-family: 'Inter', sans-serif;
}
#btn {
  border-radius: 30px;
  font-size: 13.4px;
  font-family: 'Inter', sans-serif;
  position: relative;
  left: 8px;
}

.carrousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carrousel::-webkit-scrollbar{
  display: none;
}
.carrousel .item{
  background-color: #121423;
  margin: 8px;
  width: 284px;
  padding: 10px;
  border-radius: 20px;
  flex: none;
}
.carrousel .item .info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carrousel .item .info .name{
  color: #FFFFFF;
  font-family: 'Inter';
  font-size: 14.49px;
}
.carrousel .item .info .subname{
  color: #FFFFFF;
  font-family: 'Inter';
  font-size: 10.05px;
  font-weight: 300;
}

.carrousel .item  .image img{
  width: 284.29px;
  height:162.92px;
  border-radius: 15px;
}
.buttons button{
background-color: #5F32C9;
padding-left: 22px;
padding-right: 22px;
height: 32px;
border-radius: 10px;
}

.buttons {
  display: flex;
  gap: 8px;
}
.buttons button:first-child img{
  transform: rotate(180deg);
}
